@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');
* {
    font-family: "Roboto Mono", serif;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 10px;
    align-items: center;
}

.register, .login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register button, .login button {
    height: 30px;
    width: 100px;
    background-color: rgb(138, 135, 135);
    border-radius: 9px;
    border: none;
}

.register input, .login input {
    height: 25px;
    width: 230px;
    border-radius: 9px;
    border: none;
    background-color: rgb(217, 214, 214);
    padding-left: 10px
}

.createPost {
    font-weight: auto;
    font-style: auto;  
    width: 800px;
    display: flex;
    flex-direction: column;
    gap:10px;
}

.createPost input {
    height: 25px;
    border-radius: 9px;
    border: none;
    background-color: rgb(217, 214, 214);
    padding-left: 10px    
}
.createPost input[type="file"] {
    height: 30px;
    display: flex;
    justify-content: center;
}
.createPost button {
    height: 30px;
    background-color: rgb(138, 135, 135);
    border-radius: 9px;
    border: none;    
}

.createPost input[type="file"]::file-selector-button {
    height: 100%;
    background-color: rgb(138, 135, 135);
    border-radius: 9px;
    border: none;    
}
